/********** THEME AMENDMENTS **********/

.panel {
  max-width: 500px;
}


/********** LISTS INDEX **********/

#lists-index-h3 {
  margin-bottom: 30px;
}


/********** LISTS SHOW **********/

#lists-show-collaborators {
  margin-bottom: 30px;
}

#lists-show-filter, #lists-show-no-tasks {
  margin-bottom: 20px;
}

#lists-show-add-task-button {
  margin-bottom: 5px;
}


/********** LISTS FORM **********/

#lists-form-buttons {
  margin-top: 20px;
}


/********** USERS SHOW **********/

#users-show-edit-settings-button {
  margin-bottom: 5px;
}


/********** MISC **********/

.glyph-link {
  font-size: 1.2em;
}

.float-right {
  float:right;
}
