/********** THEME AMENDMENTS **********/

.panel {
  max-width: 500px;
}

/********** LISTS SHOW **********/

#list-show-no-tasks {
  margin-bottom: 10px;
}

/********** MISC **********/

.glyph-link {
  font-size: 1.2em;
}

.float-right {
  float:right;
}
