/********** THEME AMENDMENTS **********/

.panel {
  max-width: 500px;
}


/********** LISTS SHOW **********/

#lists-show-collaborators, #lists-show-filter, #lists-show-no-tasks {
  margin-bottom: 10px;
}

#lists-show-add-task-button {
  margin-bottom: 5px;
}


/********** MISC **********/

.glyph-link {
  font-size: 1.2em;
}

.float-right {
  float:right;
}
