<div ng-app="app">
  <nav-bar></nav-bar>

  <div class="container">

    <single-center>
      <div ui-view></div>
    </single-center>
  </div>
</div>

<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<script src="js/angular.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/angular-messages.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/app/models/List.js"></script>
<script src="js/app/models/Tag.js"></script>
<script src="js/app/models/Task.js"></script>
<script src="js/app/models/User.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/components/NavBar.js"></script>
<script src="js/app/components/SingleCenter.js"></script>
<script src="js/app/controllers/lists/ListsCrudController.js"></script>
<script src="js/app/controllers/lists/ListsIndexController.js"></script>
<script src="js/app/controllers/lists/ListsShowController.js"></script>
<script src="js/app/controllers/tasks/TasksCrudController.js"></script>
<script src="js/app/controllers/tasks/TasksShowController.js"></script>
<script src="js/app/controllers/NavController.js"></script>
<script src="js/app/controllers/SearchController.js"></script>
<script src="js/app/controllers/SessionsController.js"></script>
<script src="js/app/controllers/UsersController.js"></script>
<script src="js/app/directives/CompareTo.js"></script>
<script src="js/app/factories/Auth.js"></script>
<script src="js/app/services/ListService.js"></script>
<script src="js/app/services/SearchService.js"></script>
<script src="js/app/services/SessionService.js"></script>
<script src="js/app/services/TaskService.js"></script>
<script src="js/app/services/UserService.js"></script>
