
<h3>{{ ctrl.task.name }}</h3>

<h5>{{ ctrl.task.description }}</h5>

<p>&nbsp;</p>

<h6>Due: {{ ctrl.task.displayDueDate() }}</h6>

<h6>Status: {{ ctrl.task.status }}</h6>

<p>&nbsp;</p>

<h5>Tags</h5>

{{ ctrl.task.tagNames() }}

<p>&nbsp;</p>

<p class="glyph-link"><a class="btn btn-primary" ui-sref="lists.show({id: {{ ctrl.task.listId }} })"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a> <a class="btn btn-primary" ui-sref="tasks.edit({id: {{ ctrl.task.id }} })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> <a class="btn btn-primary" href="" ng-click="ctrl.deleteTask()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
