<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Lists</title>
    
    <link rel="stylesheet" href="../../css/cyborg.css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
